fastapi==0.114.0
Pillow==10.4.0
-f https://download.pytorch.org/whl/cpu/torch-2.4.1%2Bcpu-cp39-cp39-win_amd64.whl
torch>=1.7+cpu
torchvision>=0.8.0+cpu
uvicorn==0.30.6
RealESRGAN @ git+https://github.com/sberbank-ai/Real-ESRGAN.git@362a0316878f41dbdfbb23657b450c3353de5acf